footer {
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    width: 100%;
    font-size: 12px;    
    background-color: var(--primary-color);
    
}

footer p {
    margin: auto;
    color: var(--secondary-color);
}