:root {
  --primary-color: rgb(43, 112, 29);
  --secondary-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.container {
  max-width: 90%;
  min-height: 100vh;
  margin: auto;
}

.btn {
  border: none;
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;

}

.btn:hover {
  opacity: 0.8;
}

input, select {
  padding: 5px;
  font-size: 12px;
}

#root {
  position: relative;
}


/* header */

@import './components/header/header.css';

/* farmers */

main {
  min-height: 100vh;
  padding: 20px 0;
  position: relative;
}

@import './components/farmers/farmers.css';

/* footer */

@import './components//footer/footer.css'
